{% load static %}

<html>
    {% include "product/head.html" %}
    {% include "product/header.html" %}
    <body>

        {% include 'product/card.html' %}
        {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success" role="alert" >
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-danger" role="alert" >
                        {{ message }}
                    </div>
                {% endif %}
                {% endfor %}
        {% endif %}

        <form action="{% url 'product:logout' %}" method="post">
            {% csrf_token %}
            <button class="btn" type="submit">Deslogar</button>
        </form>
    </body>

</html>