{% load static %}

<style>
	table.table td a.deletee {
		color: #ff0000;
	}
</style>

<div class="container">
    
    <div class="table-responsive">
        {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="alert alert-success" role="alert" >
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-danger" role="alert" >
                        {{ message }}
                    </div>
                {% endif %} 
                {% endfor %}
        {% endif %}
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-xs-6">
                        <h2><b>Informação dos produtos</b></h2>
                    </div>
                    <div class="col-xs-6">
                        <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Registrar um novo produto</span></a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            <span style="font-family: 'Varela Round', sans-serif;font-weight: bold;">
                                Id
                            </span>
                        </th>
                        <th>Marca</th>
                        <th>Sabor</th>
                        <th>Puffs</th>
                        <th>Custo</th>
                        <th>Preço</th>
                        <th>Estoque</th>
                        <th>Vendidos</th>
                        <th>Add or sell</th>
                        <th>Excluir</th>

                    </tr>
                </thead>
                <tbody>

                    {% for produto in produtos %}
                        <tr>
                            <td>
                                <span style="font-family: 'Varela Round', sans-serif;font-weight: bold;">
                                    {{produto.id}}
                                </span>
                            </td>
                            <td>{{produto.marca}}</a></td>
                            <td>{{produto.sabor}}</td>
                            <td>{{produto.puffs}}</td>
                            <td>R${{produto.custo}}</td>
                            <td>R${{produto.preco}}</td>
                            <td>{{produto.estoque}}</td>
                            <td>{{produto.vendidos}}</td>
                            <td>
                                <a href="#editEmployeeModal {{produto.id}}" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE147;</i></a>
                                <a href="#sellEmployeeModal {{produto.id}}" class="delete" data-toggle="modal"><i class="material-icons add_card">&#xeb86;</i></a>
                            </td>
                            <td>
                                <a href="#deleteEmployeeModal {{produto.id}}" class="deletee" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                            </td>
                               
                            {% include 'product/employeemodal.html' %}       
                            {% endfor %}
                        </tr>
                </tbody>
          </table>
    </div>        
</div>